.navBarWrapper
{
    display: block;
}

.navBarWrapper nav
{
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}

.navBarWrapper ul
{
    list-style-type: none;
    padding-left: 0px;
    font-size: 1.2em;
    margin: 10px;
}

@media (min-width: 1290px)
{
    .navBarWrapper ul
    {
        list-style-type: none;
        padding-left: 0px;
        font-size: 1.2em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin: 15px;   
    }
}

.navBarWrapper a
{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #DC0128;
    width: 100%;
}
