.appWrapper 
{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.appWrapper  header
{
  size: 30px;
  min-width: 300px;
  padding: 0;
}

.appWrapper  a 
{
  text-decoration: none;
}

.appWrapper  h1 
{
  margin: 0;
  font-family: 'Righteous', Arial, Helvetica, sans-serif;
  background-color: #0B0B4A;
  color: #DC0128;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}